.Rhistory
.RData
.Rproj.user
/analysis/test.Rmd
/analysis/analysis.nb.html
/analysis/figures/test.png
/manuscript/manuscript.docx
/manuscript/manuscript.nb.html
/manuscript/manuscript.pdf
/manuscript/templates/draft_template.docx
